@model OtelMvcProje.Models.Entity.TblHakkimda

<div class="w3l-about-us best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="maghny-gd-1">
            <div class="row about-text">
                <div class="col-lg-6">
                    <h3 class="title-big">
                        @Html.DisplayFor(x => x.Hakkimda1)
                    </h3>
                </div>
                <div class="col-lg-6">
                    <p>
                        @Html.DisplayFor(x => x.Hakkimda2)
                    </p>
                    <p class="mt-3">
                        @Html.DisplayFor(x => x.Hakkimda3)
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="maghny-gd-1 col-lg-4 col-md-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="@Html.DisplayFor(x=>x.Image1)">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>@Html.DisplayFor(x => x.Image1Title) <span> </span></h4>
                                    <p>Kahvaltı ve Akşam Yemeği</p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="@Html.DisplayFor(x=>x.Image2)">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>@Html.DisplayFor(x => x.Image2Title) <span> </span></h4>
                                    <p>Her gün açık </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="@Html.DisplayFor(x=>x.Image3)">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>@Html.DisplayFor(x => x.Image3Title) <span> </span></h4>
                                    <p>Özel Odalar </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
